:root {
  --pri-background: hsl(233, 47%, 7%);
  --sec-background: hsl(244, 38%, 16%);
  --accent-background: hsl(277, 64%, 61%);

  --pri-text: hsl(0, 0%, 100%);
  --sec-text: hsla(0, 0%, 100%, 0.75);
  --accent-text: hsla(0, 0%, 100%, 0.6);

  --pri-font: "Inter", sans-serif;
  --sec-font: "Lexend Deca", sans-serif;
}

body {
  font-size: 15px;
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--pri-background);
  margin: 0;
  padding: 0;
  position: relative;
}

main {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-col {
  background-color: var(--sec-background);
  width: 400px;
  padding: 3em;
  border-radius: 10px 0 0 10px;
}

.text {
  font-family: var(--pri-font);
  width: 80%;
}

.paragraph {
  color: var(--sec-text);
  line-height: 2em;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3em;
  text-transform: uppercase;
  font-family: var(--sec-font);
  font-size: 0.7em;
  color: var(--accent-text);
}

.heading,
.number {
  color: var(--pri-text);
}

.number {
  font-family: var(--pri-font);
  font-size: 2em;
  font-weight: 700;
}

.accent {
  color: var(--accent-background);
}

.right-col {
  width: 450px;
  border-radius: 0 10px 10px 0;
  background-color: var(--accent-background);
}

.right-col img {
  display: block;
  max-width: 100%;
  border-radius: 0 10px 10px 0;
  opacity: 0.4;
}

/* Attribution styles */
.attribution {
  font-size: 11px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--sec-text);
  font-family: var(--sec-font);
  bottom: 0;
  margin-bottom: 15px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  color: currentColor;
}
.attribution a:hover {
  color: var(--accent-text);
  text-decoration: none;
}
